%h1 Listing locales
%table
  %tr
    %th Code
    %th Name
  - for locale in @locales
    %tr
      %td= h locale.code
      %td= h locale.name
      %td= link_to 'Show', locale
      %td= link_to 'Edit', edit_locale_path(locale)
      %td= link_to 'Destroy', locale, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New locale', new_locale_path
