%h1 New locale
- form_for(@locale) do |f|
  = f.error_messages
  %p
    = f.label :code
    %br/
    = f.text_field :code
  %p
    = f.label :name
    %br/
    = f.text_field :name
  %p
    = f.submit "Create"
= link_to 'Back', locales_path
