%p
  %b Code:
  = h @locale.code
%p
  %b Name:
  = h @locale.name
= link_to 'Edit', edit_locale_path(@locale)
|
\#{link_to 'Translations', locale_translations_path(@locale)} |
\#{link_to 'Back', locales_path}
